.top-body {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.left-side-infirmier {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}
.right-side-infirmier {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 600px;
}
.containerCardPatient {
    display: flex;
    flex-wrap: wrap;
}