<div class="top-body">

  <div *ngIf="afficherInfirmier" class="left-side-infirmier">
    <h2>Liste des infirmiers du cabinet</h2>
    <div *ngFor="let infirmier of _cms.infirmiers">
      <app-infirmier [infirmier]="infirmier"></app-infirmier>
      <!-- <div *ngFor="let patient of infirmier.patients">
          <app-patient [patient]="patient"></app-patient>
        </div> -->
    </div>
  </div>


  <div class="right-side-infirmier">

    <div *ngIf="!afficherPatient">
      Il n'y a pas de patients non affectés.
    </div>
    
    <div *ngIf="afficherPatient">
      <h2>Liste des patients non affectés</h2>
      <div *ngFor="let patient of _cms.patientsNonAffectes" class="containerCardPatient">
        <app-patient [patient]="patient" [infirmiers]="_cms.infirmiers"></app-patient>
      </div>
    </div>
  </div>


  <!--
<table>
  <thead>
    <td>Infirmier</td>
    <td *ngFor="let infirmier of cms.infirmiers">{{infirmier.nom}}</td>
  </thead>
  <tr>
    <td>Id</td>
    <td *ngFor="let infirmier of cms.infirmiers">{{infirmier.id}}</td>
  </tr>
</table>

  <p *ngFor="let infirmier of cms.infirmiers">
    <app-infirmier [data]="infirmier"></app-infirmier><br/>
    Ses patients:
    <span *ngFor="let patient of infirmier.patients">
      <app-patient [data]="patient"></app-patient>
    </span>
  </p>
 <mat-card>
      <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let infirmier of cms.infirmiers" [style.border-right]="'1px dashed #ddd'">
          <mat-card class="example-card" >
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><mat-icon>perm_identity</mat-icon></div>
              <mat-card-title>{{infirmier.nom}}</mat-card-title>
              <mat-card-subtitle>{{infirmier.id}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image    alt="Photo de l'infirmier">
            <mat-card-content>
              <div class="example-box" *ngFor="let patient of infirmier.patients"cdkDrag>
                <app-patient [data]="patient"></app-patient>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</mat-card> -->